@import "../variables";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__search {
    input {
      width: 300px;
      height: 50px;
      padding: 10px 20px;
      font-size: 20px;
      border-radius: 10px;
      outline: none;
      border: 1px solid rgba(0, 0, 0, 0.1);
    }
    input:focus {
      border: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
